APP_NAME=appcake
APP_PORT=80

MYSQL_DATABASE=appcake
MYSQL_ROOT_PASSWORD=secret
MYSQL_USER=appcake
MYSQL_PASSWORD=secret
MYSQL_PORT=3306

RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_WEB_PORT=15672

## (Super) admin
ADMIN_USERNAME=appcake_admin
ADMIN_PASSWORD=admin_secret

## Moderator
MODERATOR_USERNAME=appcake_mod 
MODERATOR_PASSWORD=mod_secret

## Normal user
USER_USERNAME=appcake_user 
USER_PASSWORD=user_secret

##  Number of fetched posts to display per page (default: 10)
POSTS_PER_PAGE=10

## CRON Job scheduler
CRON_SCHEDULE="* * * * *"

## Variables required by Symfony 
APP_ENV=dev
