{% extends 'layout.html.twig' %}

{% block title %}
  HTTP 403 Forbidden: Access Denied
{% endblock %}

{% block page_contents %}
  <p>You need to be logged in with a MODERATOR access to view this resource</p>
{% endblock %}